main {
    section {
        height: 100vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;

        &#sec_first {
            .first_text {
                background-color: #000;
                color: #fff;
                font-family: 'Montserrat', sans-serif;
                height: 50vh;
        
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: row;
                text-align: center;
                padding: 50px;
        
                .item {width: 23rem}
                h1 {padding: 20px}
            }
        }

        .img_item {
            width: 100vw;
            height: 50vh;
            overflow: hidden;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }

            &:not(:last-child) {padding: 6px 0}
        } // Full-width images
    }
}