main {
    .first_text {
        background-color: #000;
        color: #fff;
        font-family: 'Montserrat', sans-serif;
        min-height: 30rem;

        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        text-align: center;
        padding: 50px 150px;

        .item {
            width: 23rem;
        }

        h1 {
            padding: 20px;
        }
    }

    .wrapper {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;

        .item {
            width: 100vw;
            height: 70vh;
            overflow: hidden;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }

            &:not(:last-child) {
                padding: 6px 0;
            }
            &:first-child {
                padding-top: 12px;
            }
        }
    }

    .last_pres {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 30px 100px;

        .item {
            height: 10rem;
            width: 17rem;
            margin: 20px;
            border-radius: 12px;
            overflow: hidden;
            box-shadow: 0 0 12px #a8a8a8;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}